h1 {
    text-align: center;
}

#main-content {
    font-size: 2em;
    text-align: center;
}

.spinner {
    display: none;
    text-align: center;
    margin: 4em 0;
}

.sandbox.is-active, .spinner.is-active {
    display: block;
}

.sandbox, .description {
    text-align: center;
}

.sandbox {
    display: none;
}

.is-big {
    font-size: 3em;
}